body {
color:white;
background:black;
margin:0px;
}

header{
    border-bottom: solid 1.5px rgb(83, 120, 149);
    padding:20px;
    font-size:29px;
    color: rgb(231, 235, 238);
}

section{
    background: rgb(115, 93, 53);
}