body {
color:white;
background:black;
margin:0px;
font-family: "Chakra Petch", sans-serif;
}

header{
    border-bottom: solid 1.5px rgb(83, 120, 149);
    padding:20px;
    font-size:29px;
    color: rgb(231, 235, 238);
}

section{
    background: rgb(115, 93, 53);
    padding-bottom:80px;
    padding-top:80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}
    
h1{
    font-size:28px;
}
p{
    font-size:22px;
}
img{
    height:200px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap:10px;
}

section{
    padding-left:20px;
    padding-right:20px;
}